@charset "utf-8";

main{
    float: right;
    width: 710px;
}

section{
    margin: auto;
    margin-top: 30px;
}

.beneficios_destaque {
    display: inline-block;
    width: 140px;
    height: 150px;
    text-align: center;
    border: 1px solid #023373;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 15px -8px black;
    margin-right: 20px;

}

.beneficios_destaque:hover{
    border-color: #d90420;
    box-shadow: 5px 5px 15px -8px #d90420;    
}

.beneficios_destaque img {
    width: 90px;
    margin-top: 10px;
}

.section_destaque {
    width: 670px;
    height: auto;
    border: 1px solid #023373;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 15px -8px black;
    
}

.section_destaque:hover {
    border: 2px solid #d90420;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 15px -8px #023373;
    
}

table {
    border: 1px solid #023373;
    box-shadow: 5px 5px 15px -8px #023373;
    text-align: center;
    border-collapse: collapse;
}

table td {
    width: 180px;
    border: 1px solid #023373;
}