@charset "utf-8";

form input, select{
    width: 325px;
    height: 30px;
    background: linear-gradient(to bottom, #023373, #0a50ac, #023373);
    color: white;
    border: 1px solid #333333;
    font-size: 17px;
    margin-bottom: 5px;
}

form p{
    display: inline-block;
}

form button {
    background-color: #d90420;
    color: white;
    padding: 3px;
    width: 180px;

    text-align: center;
    font-size: 23px;
    border: 0px;
    border-bottom: 5px solid white;
    border-radius:  5px 0px 35px 0px;
    box-shadow: 5px 5px 15px -8px black;
}

form button:hover {
    background-color: #023373;
    color: white;
    padding: 3px;
    width: 180px;

    text-align: center;
    font-size: 23px;
    border: 0px;
    border-bottom: 5px solid #d90420;
    border-radius:  5px 0px 35px 0px;
}